.container {
    margin: 10rem auto;
    max-width: 90vw;
    padding: 2rem;
    //height: 70vh;
    background-color: #fff;

    box-shadow: var(--shadow-dark);
    border-radius: 2px;
}

.header {
    //position: relative;

    &__text {
        //position: absolute;
        padding: 2rem;
        font-size: 4.5rem;
        color: var(--color-primary);
    }

    &__user {}
}

.content {
    position: relative;
}

.top-bar {

    border-bottom: .5px solid var(--color-primary);
    margin: 0 4rem;


    &__list {
        list-style: none;
        display: flex;

        justify-content: space-between;
        text-align: center;
        text-transform: uppercase;
    }

    &__item {
        &--book {
            flex: 0 0 30%;
        }

        &--author {
            flex: 0 0 30%;
        }

        &--pages {
            flex: 0 0 20%;
        }

        &--status {
            flex: 0 0 20%;
        }
    }
}

.book {
    margin: 1rem 4rem;

    &__list {
        list-style: none;
        display: flex;
        margin-bottom: 1rem;
        padding: 2rem 0;

        background-color: #fff;
        box-shadow: var(--shadow-light);

        border-radius: 4px;

        justify-content: space-between;
        text-align: center;
        transition: all .5s;

        &:hover {
            transform: scale(1.05);

            .book__item--status {
                transform: translateX(-4rem);

            }

            .book__icon--trash {
                visibility: visible;
                display: inline-block;
            }
        }

        //&:not(:last-of-type) {}
    }

    &__item {
        &--book {
            display: flex;
            justify-content: center;

            font-weight: 700;
            flex: 0 0 30%;

            & span {
                flex: 0 0 80%;
            }


        }

        &--author {
            flex: 0 0 30%;
        }

        &--pages {
            flex: 0 0 20%;
        }

        &--status {
            flex: 0 0 20%;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all .5s;

            & span {
                flex: 0 0 80%;
            }

            &:hover {}
        }
    }

}

.book__icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;

    &--quill {
        fill: rgba(46, 204, 113, 1.0);
    }

    &--trash {
        visibility: hidden;
        display: none;
        fill: rgba(192, 57, 43, 1.0);

        transition: all .1s;
    }

}

.add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -12rem;
    right: 4rem;

    &:hover {

        & span {
            color: var(--color-grey-dark-2);

        }
    }

    &-btn {
        width: 4.5rem;
        height: 4.5rem;

        border-radius: 50px;
        background-color: rgba(255, 77, 77, 1.0);

        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: var(--shadow-dark);

        &__icon {
            width: 2rem;
            height: 2rem;

            fill: #fff;
        }



    }

    & span {
        margin-top: 1rem;
        color: #fff;
        transition: all .5s;
    }
}