.container {
    max-width: 120rem;
    margin: 10rem auto;
    padding: 2rem;

    background-color: #fff;
    box-shadow: var(--shadow-dark);
    border-radius: 2px;
}

.header {
    &__text {
        padding: 2rem;
        font-size: 4.5rem;
        color: var(--color-primary);
    }
}

.content {
    position: relative;
}

.top-bar {
    border-bottom: .5px solid var(--color-primary);
    margin: 0 4rem;

    @media only screen and (max-width:37.5em) {
        margin: 0;
    }

    &__list {
        list-style: none;
        text-align: center;
        text-transform: uppercase;

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__item {
        &--title {
            flex: 0 0 30%;

            @media only screen and (max-width:37.5em) {
                flex: 0 0 25%;
            }
        }

        &--author {
            flex: 0 0 30%;

            @media only screen and (max-width:37.5em) {
                flex: 0 0 25%;
            }
        }

        &--pages {
            flex: 0 0 20%;

            @media only screen and (max-width:37.5em) {
                flex: 0 0 25%;
            }
        }

        &--status {
            flex: 0 0 20%;

            @media only screen and (max-width:37.5em) {
                flex: 0 0 25%;
            }
        }
    }
}

.book {
    margin: 1rem 4rem;

    @media only screen and (max-width:37.5em) {
        margin: 1rem 0;
    }

    &__list {
        list-style: none;

        margin-bottom: 1rem;
        padding: 2rem 0;

        background-color: #fff;
        box-shadow: var(--shadow-light);
        border-radius: 4px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        transition: all .5s;

        &:hover {
            transform: scale(1.05);

            .book__item--status {
                transform: translateX(-4rem);

                @media only screen and (max-width:37.5em) {
                    transform: scale(1);
                }

            }

            .book__icon--trash {
                visibility: visible;
                display: inline-block;
            }

            @media only screen and (max-width:37.5em) {
                transform: scale(1);
            }
        }

    }

    &__item {
        &--title {
            display: flex;
            justify-content: center;

            font-weight: 700;
            flex: 0 0 30%;

            @media only screen and (max-width:37.5em) {
                flex: 0 0 25%;
            }

            & span {
                flex: 0 0 80%;
            }


        }

        &--author {
            flex: 0 0 30%;

            @media only screen and (max-width:37.5em) {
                flex: 0 0 25%;
            }
        }

        &--pages {
            flex: 0 0 20%;

            @media only screen and (max-width:37.5em) {
                flex: 0 0 25%;
            }
        }

        &--status {
            flex: 0 0 20%;
            transition: all .5s;

            display: flex;
            justify-content: center;
            align-items: center;

            @media only screen and (max-width:37.5em) {
                flex: 0 0 25%;
            }

            & span {
                flex: 0 0 80%;
            }
        }
    }
}

.footer {
    text-align: center;

    & a,
    & a:visited,
    & a:active {

        outline: none;
        text-decoration: none;
        color: var(--color-grey-dark-1);
    }
}